.serviceCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom right, var(--accent-color-1), var(--accent-color-2));
  width: 400px;
  height: 300px;
  border-radius: 1vmin;
  margin: 2vmin;
  padding: 4vmin;
}

.serviceTitle {
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  margin-top: 2vmin;
}

.serviceDescription {
  margin-top: 2vmin;
  font-size: 1em;
}

@media (max-width: 940px) {
  .summaryContainer {
    display: flex;
    flex-direction: row;
  }

  .serviceCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: none;
    border-radius: 2vmin;
    margin: .25em;
    width: 20em;
    height: 5em;
    background-color: white;
    border: 1px solid black;
  }

  .icon {
    height: .5em;
    width: .5em;
  }

  .serviceTitle {
    font-size: 1em;
    font-weight: bold;
    text-align: left;
  }

  .serviceDescription {
    display: none;
  }
}
