.ProjectCard {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: var(--color-1) 2px solid;
  width: 275px;
  height: 450px;
  border-radius: .5vmin;
  position: relative;
}

.ProjectContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.ProjectImage {
  display: flex;
  justify-content: center;
}

.ProjectImage img {
  width: 265px;
  height: 100%;
  object-fit: cover;
}

.ProjectName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  height: 75px;
  border-bottom: var(--color-1) 1px solid;
}

.ProjectDescription{
  align-items: stretch;
  font-size: 20px;
  height: 145px;
  padding: 8px;
}

.ProjectButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: bottom;
  height: 50px;
  border-bottom: var(--color-1) 1px solid;
}

.ProjectButtons button {
  border-radius: .5vmin;
  height: 30px;
  width: 120px;
  border: none;
  background-color: var(--color-1);
  color: white;
}

.ProjectStack {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.ProjectStack img {
  height: 30px;
  width: 30px;
}

@media (max-width: 940px) {
  .ProjectCard {
    border: var(--color-1) .25vmin solid;
    border-radius: 2vmin;
    width: 275px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: 3vmin;
  }

  .ProjectDescription{
    font-size: 18px;
    text-align: center;
  }

}