.jobContainer {
  display: flex;
  border: solid navy .5vmin;
  width: 75%;
  margin: 2vmin auto;
  border-radius: 2vmin;
}

.container {
  display: flex;
  flex-flow: row wrap;
}

h3 {
  text-align: center;
}