.jobContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.jobTitle {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

.jobCompany {
  font-size: x-large;
  text-align: center;
}

.jobSubTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: medium;
  padding-right: 10px;
  padding-left: 10px;
}

.jobCard {
  display: flex;
  justify-content: left;
  padding: 2vmin;
  font-size: medium;
  margin: 0 auto;
}

