.jobContainer {
  display: flex;
  flex-direction: column;
  border: solid 1px navy;
  border-radius: 1vmin;
  width: 60vw;
  height: 60vh;
  margin: 0 auto;
  background-color: white;
}

.jobTitle {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

.jobCompany {
  font-size: x-large;
  text-align: center;
  margin-bottom: 1vmin;
}

.jobSubTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: medium;
}

.jobCard {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 2vmin;
  height: 70vh;
  font-size: medium;
}

.jobCard div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1vmin;
  margin: 0 auto;
  height: 18vh;
  width: 45%;
  text-align: center;
  border: solid navy 1px;
  border-radius: 1vmin;
  padding: 5px;
  font-size: medium;
  background-color: whitesmoke;
}

@media (max-width: 940px) {
  .jobContainer {
    width: 90vw;
    height: 30vh;
    justify-content: space-between;
  }

  .jobCard {
    font-size: auto;
    display: none;
  }
}