.ContactFormContainer {
  display: flex;
  flex-direction: column;
}

.ContactFormTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vmin;
  font-weight: bold;
}

.ContactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ContactFormName {
  display: flex;
  flex-direction: row;
}

.ContactFormName input {
  margin-right: .5vw;
  margin-left: .5vw;
}

input, textarea {
  border-radius: .25vmin;
  border: .15vmin solid var(--primary-color);
  font-size: 3vmin;
}

.ContactMessage {
  margin-top: 1vmin;
  resize: none;
}

.ContactForm button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ContactFormArea {
  display: flex;
  flex-direction: column;
}

.ContactFormButton {
  width: 200px;
  height: 50px;
  margin: 2vh;
  border: none;
  background-color: burlywood;
  color: white;
}

@media (max-width: 940px) {
  .ContactFormContainer {
    display: flex;
    flex-direction: column;
    margin: 1vh 0 2vh 0;
  }
  
  .ContactFormTitle {
    display: none;
  }
  
  .ContactForm {
    margin: 0 auto;
  }
  
  .ContactFormName {
    margin: 0 auto;

  }
  
  .ContactFormName input {
    margin: 0 auto;
  }
  
  input, textarea {
    border-radius: .25vmin;
    border: .15vmin solid var(--primary-color);
    font-size: 4vmin;
  }
  
  .ContactMessage {
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    resize: none;
  }
  
  .ContactForm button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

  }
  
  .ContactFormArea {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

  }
  
  .ContactFormButton {
    width: 50vw;
    height: 6vh;
    border: none;
    border-radius: 2vmin;
    background-color: var(--accent-color-1);
    color: white;
    margin: 0 auto;
  }
}