.navbar {
  position: fixed relative;
  width: 100vw;
  background-color: white;
  z-index: 999;
  margin-right: 2vw;
  margin-left: 2vw;
}

.logo {
  color: burlywood;
}

.navLinks a {

  text-decoration: none;
  color: burlywood;
  font-size: 20px;
}

.navLink {
  margin-right: 3vmin;
}

