.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contactContainer {
  display: flex;
  margin-top: 2vh;
}

.contactInfo {
  display: flex;
  flex-direction: row;
  font-size: 2vh;
  margin-left: 2vw;
}

.FooterMainInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 2vh;
  margin-left: 2vw;
}

.FooterName {
  font-size: 2vh;
  font-weight: bold;
}

.contactInfo label {
  font-size: 2vh;
  font-weight: bold;
}

.footerIconLinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footerIconLinks a {
  margin-right: 1vw;
}

@media (max-width: 940px) {
  .footerContainer {
    height: 20vh;
  }
  
  .contactContainer {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  
  .contactInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
  }
  
  .contactInfo label {
    font-size: 2em;
    font-weight: bold;
  }
  
  .footerIconLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20vw;
  }
}