.servicesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.carousel-container {
  overflow: hidden;
}

/* .skill-carousel {
  display: flex;
  animation: carousel-animation 20s linear infinite;
} */

/* @keyframes carousel-animation {
  0% {
    opacity: .5;
    transform: translateX(0);
  }
  33% {
    opacity: 1;
    transform: translateX(-50%);
  }
  66% {
    opacity: 1;
    transform: translateX(-75%);
  }
  100% {
    opacity: .5;
    transform: translateX(0);
  }
} */

.devicon {
  height: 50px;
  width: 50px;
}

/* .skills-carousel img {
  width: 100px;
  height: 100px;
} */

@media (max-width: 940px) {
  .servicesContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
  }

  .skill-carousel {
    display: none;
  }

  .body {
    
  }

}