/* .PortfolioContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 2em;
}

.ProjectContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
} */

.PortfolioContainer {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 90vw;
  overflow-x: auto;
  margin: 0 auto;
  margin-bottom: 2vh;
}

.ProjectContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0 auto;
}

@media (max-width: 940px) {
  .PortfolioContainer {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100vw;
    overflow-x: auto;
  }

  .ProjectContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0 auto;
  }
}